body {
  padding: 20px;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}


.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	color:white;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
        visibility: visible;
        
}
p.description_content{
       
	padding:10px;
	margin:0px;
	font-size: 30px;
}



.text-center{
	text-align: center;
	margin-bottom: 1em;
}

.gallery ul{
	list-style: none;
	padding: 0;
}
.gallery li{
	display: inline-block;
	float: left;
	width: 28.3333%;
	margin: 2.5%;
	position: relative;
	font-size: 0;
   transition: .25s box-shadow ease-in-out .1s;
}

@media only screen and (max-width: 680px) {
  .gallery li {
    width: 45%;

  }
  .lightbox img {
    margin-top: 5%;
  }
  
  .description{
      
      width: 45%;
      margin-top: 5%;
          
     
  }
   
  
}


@media only screen and (max-width: 480px) {
  .gallery li {
    width: 100%;
    margin: 2% 0;
  
  }
 .description{
     width: 100%;
    margin: 2% 0;
      font-size: 7vw;
  }
  
  
  
}



.gallery img{
	width: 100%;
}

/*Lighbox CSS*/






#imagen_menu.agran {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#imagen_menu:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    
    -webkit-transform:scale(1.15);
-moz-transform:scale(1.15);
-ms-transform:scale(1.15);
-o-transform:scale(1.15);
transform:scale(1.15);
transition-duration: 0.5s;


}





#container {
  height: 400px;
  width: 400px;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}