*{

}


body{
	/* Setting default text color, background and a font stack */
	font-size:0.825em;
	
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}


.sponsor{
	width:250px;
	height:250px;
       margin: 0 auto;
       margin-top: 8%;
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}

.sponsorFlip{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */

	position:relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:3px solid black;	
	
}

.sponsorFlip:hover{
	border:3px solid black;
	
	/* CSS3 inset shadow: */
	-moz-box-shadow:0 0 30px #0B173B inset;
	-webkit-box-shadow:0 0 30px #0B173B inset;
	box-shadow:0 0 30px #0B173B inset;
}

.sponsorFlip img{
	/* Centering the logo image in the middle of the sponsorFlip div */
	
	position:absolute;
	top:40%;
	left:40%;
	margin:-70px 0 0 -70px;
        width: 80%;
        height: 80%;
}

.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
        background-color: #ddd;
}


.sponsorDescription{
	font-size:130%;
	padding:0px 0px 0px 10px;
	
}

.sponsorURL{
	font-size:100%;
	font-weight:bold;
	padding-left:10px;
        font-style: italic;
}

.clear{
	/* This class clears the floats */
	clear:both;
}


/* The styles below are only necessary for the styling of the demo page: */

#main{
	position:relative;
	margin:0 8%;
	
}

h1{
	padding:30px 0;
	text-align:center;
	text-shadow:0 1px 1px white;
	margin-bottom:30px;
	
}

h1,h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

h2{
	font-size:14px;
	font-weight:normal;
	text-align:center;
	
	position:absolute;
	right:40px;
	top:40px;
}

.note{
	font-size:12px;
	font-style:italic;
	padding-bottom:20px;
	text-align:center;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}