/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2016, 0:24:26
    Author     : Programación
*/

.usuario { transition: all .2s ease-in-out; }
.usuario:hover { transform: scale(1.1); }

#profe{
      
    position:fixed; /*El div será ubicado con relación a la pantalla*/
    bottom :0px; /*Abajo deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
}
#profe2{
      
    position:fixed; /*El div será ubicado con relación a la pantalla*/
    bottom :0px; /*Abajo deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
}
